

#header {
    background-color: #ff7e56;
    height: 85px;
}
.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}
.centertext {
    margin: auto;
    text-align: center;
}


img{
    width: 90%;
}

.card-header{
background-color: #ff7e56;
}

.alert{
    padding: 2px;
    background-color: #ff7e56;
    display:inline-block;
}


a:hover{
    text-decoration: none
}


a.button{
    background-color: #ff7e56; 
    border-radius: 15px;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: overpass-light;
}




body {
    background-color: #e8e8e8
}

/* FONTS */

@font-face {
    font-family: overpass-bold;
    src: url(fonts/overpass-bold.otf);
}

@font-face {
    font-family: overpass-light;
    src: url(fonts/overpass-light.otf);
}

@font-face {
    font-family: overpass-thin-italic;
    src: url(fonts/overpass-thin-italic.otf);
}

/* Typography */

h1 {
    color: #ffffff;
    font-size: 30px;
    ;
    font-family: overpass-bold;
}

p1 {
    color: #000000;
    font-size: 15px; 
    font-family: overpass-light;
    display: block;
    text-align: justify;
}

p2 {
    color: #ffffff;
    font-size: 15px;
    ;
    font-family: overpass-light;
}

p3 {
    color: #000000;
    font-size: 15px;
    ;
    font-family: overpass-light;
}

p4 {
    color: #ffffff;
    font-size: 15px;
    ;
    font-family: overpass-thin-italic;
}